@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/bannerImg/Forta.png"),url('https://i.ibb.co/2ht5Fvx/quality-3.png');
  background-repeat: no-repeat;
  margin-top: 50px;
  opacity: 999;
}

/* video play button css  */
.videobutton {
  width: 100%;
}

/* background shadow image  */
.background-image{
width: 1356.847px;
height: 1356.847px;
transform: rotate(15deg);
opacity: 999;
background: linear-gradient(180deg, #0D0E14 0%, rgba(13, 14, 20, 0.00) 50.00%, #0D0E14 100%)/ cover no-repeat;
background-position: center;
background-size: cover;
}

.sliders{
  width: 450px !important ;
  height: 232px !important;
  border-radius: 16px;
border: 1px solid rgba(197, 188, 248, 0.15);
padding: 50px 22px;
}