@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  margin:0 auto;
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/bannerImg/Forta.png");
  background-repeat: no-repeat;
  margin-top: 50px;
  opacity: 999;
  
}

/* video play button css  */
.videoButton{
  background-image: url('./assets/images/bannerImg/videoplaybg.png');
  width: 337px;
  height: 126px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
